/bloque1/ClaseIntroProgramacion/Netbeans/poligonosRegulares/nbproject/private/
/bloque1/ClaseIntroProgramacion/Netbeans/poligonosRegulares/build/
/bloque1/ClaseIntroProgramacion/Netbeans/Personas/nbproject/private/
/bloque1/ClaseIntroProgramacion/Netbeans/Personas/build/
/bloque1/ClaseIntroProgramacion/Netbeans/ConjutoNumeros/nbproject/private/
/bloque1/ClaseIntroProgramacion/Netbeans/ConjutoNumeros/build/
/bloque1/ClaseIntroProgramacion/Netbeans/Proyecto1/nbproject/private/