.galeriaContainer{

}

.tituloDescriptionGaleria{
	text-align: center;
	color: red;
}

.tableGaleria, .tituloTable, .tablaItem{
	border: 1px solid black;
}


.tableGaleria{
	table-layout: fixed;
	 border-collapse: separate;
	width: 70%;
	height: 100px;
	margin-left: 15%;
	margin-top: 10px

}
.tablaItem{
	width: 180px;
	height: 180px;
	margin-top: 1%;
	margin-bottom:1%; 

}

.tituloTable{
	font-size: 22px;
	color: blue;
}
.imagenItem{
	width: 100%;
	height: 100%;


}
